.container{
    background-color: white;
    height: 100%;
    margin: 16px;
}

.row-clear{
    background-color: #e1f1ff;
    height: 56px;
}

.row-dark{
    background-color: #77acda;
    height: 56px;
    align-items: center;
    text-align: center;
}

.row-gray{
    background-color: #f5f5f5;
    height: 56px;
}


  .col-clear-date{
  height: 24px;
  background-color: #f5f5f5;
  }
  .col-clear-unit-price-ht{
    height: 24px;
    background-color: #e1f1ff;
  }
  .col-clear-amount-ht{
    height: 24px;
    background-color: #e1f1ff;
  }

  .col-clear-unit-price-tva{
    height: 24px;
    background-color: #f5f5f5;
  }
  .col-clear-amount-tva{
    height: 24px;
    background-color: #f5f5f5;
  }

  .col-dark-budget-text{
    height: 48px;
    background-color: #77acda;
  }
  .col-dark-budget{
    height: 48px;
    background-color: #77acda;
  }
  .col-clear-budget{
    height: 48px;
    background-color: #e1f1ff;
  }
  .col-empty{
    height: 24px;
    background-color: white;
  }
  .col-dark-modalite{
    height: 140px;
    text-align: center;
    background-color: #77acda;

  }
  .col-gray-modalite{
    height: 140px;
    background-color: #f5f5f5;
  }
  .col-dark-mode{
    height: 70px;
    background-color: #77acda;
    text-align: center;
  }
  .col-clear-mode{
    height: 70px;
    background-color: #e1f1ff;
}

.label{
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.label-budget{
  color: white;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
.label-black{
  font-size: 15px;
}

.label-date{
  font-size: 12px;
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

