  .location-search-input{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }
  .location-search-input:hover{
      outline: none;
  }

  .inputText{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }

  .inputDate{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }
  